{
  "customSyntax": "postcss-scss",
  "plugins": ["stylelint-order", "stylelint-prettier"],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-sass-guidelines"
  ],
  "rules": {
    "max-nesting-depth": 2,
    "media-query-no-invalid": null,
    "no-descending-specificity": null,
    "order/properties-alphabetical-order": true,
    "selector-class-pattern": null,
    "selector-max-id": 1
  }
}
