.form {
  position: relative;
}

.loader {
  background: rgba(255, 255, 255, 0.6);
  height: 100%;
  position: absolute;
  width: 100%;
}

.loader > div {
  left: 50%;
  position: absolute;
  top: 50%;
  translate: -50% -50%;
}
