.react-select__container {
  width: 100%;
}

.react-select__control {
  box-shadow: var(--ams-text-input-box-shadow);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: 100ms;
  // width: 100%;

  // &--is-focused {
  //   .ams-text-input {
  //     max-width: 2px;
  //   }
  // }

  .ams-text-input {
    background: transparent;
    box-shadow: none;
    // box-shadow: inset 0 1px 0 var(--ams-border-width-s) var(--ams-color-interactive-secondary),
    //   inset -1px 0 0 var(--ams-border-width-s) var(--ams-color-interactive-secondary),
    //   inset 0 -1px 0 var(--ams-border-width-s) var(--ams-color-interactive-secondary);
  }
}

.react-select__placeholder {
  color: var(--ams-text-input-color);
  font-family: var(--ams-text-input-font-family);
  font-size: var(--ams-text-input-font-size);
  font-weight: var(--ams-text-input-font-weight);
  left: calc(var(--ams-text-input-padding-block) * 2);
  position: absolute;

    grid-area: 1 / 1 / 2 / 3;
    color: rgb(128, 128, 128);
    margin-left: 2px;
    margin-right: 2px;
    box-sizing: border-box;
}

.react-select__indicator-separator {
  align-self: stretch;
  width: 1px;
  background-color: rgb(204, 204, 204);
  margin-bottom: 8px;
  margin-top: 8px;
  box-sizing: border-box;
}

.react-select__dropdown-indicator {
  padding-inline: calc(var(--ams-text-input-padding-inline) * 0.5);
}

.react-select__menu {
  background: #fff;
  border: 1px solid #000;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
}

.react-select__option {
  padding-block: var(--ams-text-input-padding-block);
  padding-inline: var(--ams-text-input-padding-inline);


  &:active {
    background-color: rgb(178, 212, 255);
  }
}

.react-select__select__value-container {
  align-items: center;
  display: grid;
  flex: 1 1 0%;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  padding: 2px 8px;
  box-sizing: border-box;

  &--has-value {
    align-items: center;
    display: grid;
    flex: 1 1 0%;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    padding: 2px 8px;
    box-sizing: border-box;
  }

  &--is-multi {
    align-items: center;
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    padding: 2px 8px;
    box-sizing: border-box;
  }
}

.react-select__single-value {
  background-color: rgb(230, 230, 230);
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  margin: 2px;
  min-width: 0px;
}